{% extends 'base.html' %}
{% block content %}


<form method="post" action="{% url 'search' %}">
  {% csrf_token %}
  <label for="search_query">Search:</label>
  <input type="text" id="search_query" name="search_query">
  <button type="submit" style="margin-top: 20px;">Search</button>
</form>

<div class="container mt-5">
  <h2 class="mb-4">Courses</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    {% for course in courses %}
    <div class="col">
      <div class="card course-card h-100">
        <div class="course-card-img-container">
          <img src="{{ course.image.url }}" class="card-img-top course-card-img-top" alt="{{ course.title }}">
        </div>
        <div class="card-body course-card-body">
          <h5 class="card-title course-card-title">{{ course.title }}</h5>
          <p class="card-text course-card-text">{{ course.description }}</p>
        </div>
        <div class="card-footer course-card-footer">
          <h5 class="card-title course-card-title">{{ course.amount }}</h5>
          <a href="{% url 'purchase_course' course_id=course.id %}" class="btn btn-primary course-btn">Enroll Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
