{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Courses</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for course in courses %}
    <div class="col mb-4">
      <div class="card course-card h-100 mx-2">
        <div class="course-card-img-container">
          <img src="{{ course.image.url }}" class="card-img-top course-card-img-top" alt="{{ course.title }}">
        </div>
        <div class="card-body course-card-body">
          <h5 class="card-title course-card-title">{{ course.title }}</h5>
          <p class="card-text course-card-text">{{ course.description }}</p>
        </div>
        <div class="card-footer course-card-footer">
          <h5 class="card-title course-card-title">{{ course.amount }}</h5>
          
        </div>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'purchase_course' course_id=course.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary course-btn">Enroll Now</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary course-btn">Enroll Now</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
